/.idea/workspace.xml
/.idea/vcs.xml
/.idea/scopes/scope_settings.xml
/.idea/modules.xml
/.idea/misc.xml
/.idea/encodings.xml
/.idea/draw2gether.iml
/.idea/dictionaries/jakobhjelmer.xml
/.idea/.name
.idea